<ion-view>
  <ion-content class="has-header">
    <h1 class="questionHeader">{{questions[0].questionHeader}}</h1>
    <div ng-show='haveAnswer'>
	    	<h1 class="questionHeader">{{answer}}</h1>
	    	<button class="button button-block icon-left ion-android-share button-positive" ng-click="share()">Share</button><br/>
	</div>
    <div ng-show='!haveAnswer'>
    <ion-list>
    <form novalidate>
      <ion-item class="card questions" ng-repeat="question in questions">
		
	        <div class="item item-divider item-text-wrap">
	        	{{question.question}}
	        </div>

	        <ion-radio ng-model="saveData.answer[$index]" name="group_{{$index}}" ng-value="{{question.answer_1_value}}">{{question.answer_1}}</ion-radio>
	        <ion-radio ng-model="saveData.answer[$index]" name="group_{{$index}}" ng-value="{{question.answer_2_value}}">{{question.answer_2}}</ion-radio>
	        <ion-radio ng-model="saveData.answer[$index]" name="group_{{$index}}" ng-value="{{question.answer_3_value}}">{{question.answer_3}}</ion-radio>
	        <ion-radio ng-model="saveData.answer[$index]" name="group_{{$index}}" ng-value="{{question.answer_4_value}}">{{question.answer_4}}</ion-radio>


      </ion-item>
      </form>
    </ion-list>
    </div>
    <button ng-show='!haveAnswer' class="button button-block button-positive" ng-click="submit()">Submit</button>
  </ion-content>
</ion-view>
