.questions {
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
}
.questionHeader{
	text-align: center;
}

.boysIcon{
    color: green;
}

.girlsIcon{
    color: deeppink;
}
.bothIcon{
    color: blue;
}